/* especificidad: 001 */
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas iguales. 1fr = iguales */
    grid-template-rows: auto auto repeat(3, 1fr); /* auto para ajustar altura */
    gap: 10px;
    padding: 10px;
}

/* especificidad: 002 */
main > h2 {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}

/* especificidad: 002 */
main > p {
    grid-column: 1 / -1;;
    text-align: center;
}

@media (max-width: 465px) {

    /* especificidad: 001 */
    main {
        grid-template-columns: repeat(2, 1fr);/* Advertencia permitida para adaptarse al tamaño: Redefinición de grid-template-columns */
        grid-template-rows: auto repeat(6, 1fr);/* Advertencia permitida para adaptarse al tamaño: Redefinición de grid-template-rows */
    }

    /* especificidad: 002 */
    main > h2 {
        grid-column-end: 3;/* Advertencia permitida para adaptarse al tamaño: Redefinición de grid-column-end */
    }
}