/* Posicionamiento*/

/* Selector: header → especificidad (0,0,1) */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Selector: header nav → especificidad (0,0,2) */
header nav {
    display: flex;
    flex-direction: row;
}

/* Selector: header nav a → especificidad (0,0,3) */
header nav a {
    padding: 0.5em;
    text-align: center;
}

/* Selector: body > main > div → especificidad (0,0,3) */
body > main > div {
    width: 100%;
    height: 500px;
}

/* Selector: article h2 + img → especificidad (0,0,3) */
article h2 + img {
    width: auto;
    height: 500px;
}

/* Selector: label → especificidad (0,0,1) */
label {
    display: flex;
    flex-direction: column;
}

@media (max-width: 465px) {

    /* Selector: header → especificidad (0,0,1) */
    header {
        flex-direction: column;/* Advertencia permitida para adaptarse al tamaño: Redefinición de flex-direction */
        align-items: flex-start;/* Advertencia permitida para adaptarse al tamaño: Redefinición de align-items */
    }
    /* Selector: header nav → especificidad (0,0,2) */
    header nav {
        flex-direction: column;/* Advertencia permitida para adaptarse al tamaño: Redefinición de flex-direction */
    }

    /* Selector: body > p:first-of-type → especificidad (0,1,2) */
    body > p:first-of-type {
        display: none;
    }

    /* Selector: video → especificidad (0,0,1) */
    video {
        width: 100%;
        height: auto;
    }

    /* Selector: audio → especificidad (0,0,1) */
    audio {
        width: 100%;
    }

    /* Selector: article h2 + img → especificidad (0,0,3) */
    article h2 + img {
        width: 100%;/* Advertencia permitida para adaptarse al tamaño: Redefinición de width */
        height: auto;/* Advertencia permitida para adaptarse al tamaño: Redefinición de height */
    }

    /* Selector: body > main > div → especificidad (0,0,3) */
    body > main > div {
        height: 300px;/* Advertencia permitida para adaptarse al tamaño: Redefinición de height */
    }

    /* Selector: section img → especificidad (0,0,2) */
    section img {
        width: 100%;
        height: auto;
    }

}